<!DOCTYPE html>
<!--[if gt IE 9]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="dist/style.css">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="{{ $root.statename }}">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid">
            <div class="row">
        	   <div id="header" ui-view="header" class="header-container col-xs-12"></div>
        	   <div id="body" ui-view="body" class="body-container col-xs-0 hidden-lg"></div>
            </div>
        </div>

        <script src="dist/libs.js"></script>
        <script src="dist/libs-angular.js"></script>
        
        
        <script src="app/app.js"></script>
        <script src="app/model.js"></script>

        <script src="app/home/headerController.js"></script>
        <script src="app/home/bodyController.js"></script>

        <script src="app/dashboard/headerController.js"></script>
        <script src="app/dashboard/bodyController.js"></script>


        <script src="app/routes.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>